body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f9;
    margin: 0;
}

header {
    width: 100%;
    text-align: center;
    background-color: white;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    z-index: 1000;
    font-family: 'Inria Sans', sans-serif;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#chessboard {
    display: grid;
    grid-template-columns: repeat(8, 50px);
    grid-template-rows: repeat(8, 50px);
    width: 400px;
    height: 400px;
    border: 2px solid black;
}

.square{
    width: 50px;
    height: 50px;
    box-sizing: border-box;
}

.light{ background-color: #e9e8e4; }
.dark{ background-color: #32684b;}